@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
h1 {
    color: midnightblue;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
    display: flex;
}
.avatar {
    padding-top: 10%;
    vertical-align: middle;
    width: 100px;
    height: 100px;
}