<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
    <div class="items">
      <!-- ALL USERS -->
      <button mat-raised-button color="white" routerLink="/users">
        <div class="home">
          <h1>All Users</h1>
          <i class="fa fa-users fa-5x icon"></i>
        </div>
      </button>
      <!-- USER
      <button mat-raised-button color="white" routerLink="/userdetails">
        <div class="home">
          <h1>Find User</h1>
          <i class="fa fa-user fa-5x icon"></i>
        </div>
      </button>
      TRANSFER
      <button mat-raised-button color="white" routerLink="/transfers">
        <div class="home">
          <h1>Transfer Credits</h1>
          <i class="fa fa-exchange fa-5x icon"></i>
        </div>
      </button> -->
    </div>
  </div>
</div>