@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');

h1 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 30px;
}
.icon {
    padding-left: 0px;
    padding-right: 15px;
}
.home {
    margin-left: 75%;
}
span{
    padding-left: 10px;
    font-family: 'Merriweather Sans', sans-serif;
}
.ic {
    margin-left: 10px;
}